body{

;
background-color: rgb(4, 2, 12);



}

.u{
width: 400px;
margin: 5% 10%;
color: rgb(255, 255, 255);
padding: 30px;
/*background-color: rgba(0, 0, 0, 0.712);*/
color: rgb(255, 255, 255);
transition: 1s;
border-radius: 50px;
max-width: 400px;
max-height: 400px;
min-height: 300px;
display: block;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1hE0ducJJ7t0lmnddixk_gFV6xARvn_7GVQ&usqp=CAU);
background-size: cover;
background-repeat: no-repeat;
}


.u:hover{
background-color: rgba(0, 0, 0, 0.863);
border: 1px solid rgb(2, 0, 104);
border-radius: 10px;
}

.itens{
display: flex;
align-items: center;
flex-wrap: wrap;

}

.i{

}