body{
background-image: url(1243346.png);
background-repeat: no-repeat;
background-size: cover;


}

header{
color: rgba(240, 248, 255, 0);

}

.roblox{
margin: 10px 5px;
margin-right: 40%;
font-weight: 5px;
-ms-flex-align: center;
justify-content: space-between;
color: rgb(228, 228, 228);
background-color: rgba(0, 0, 0, 0.692);
border: solid 1px rgba(0, 174, 255, 0.74);

}

.roblox:hover{


    
}